<main class="main">
  <div class="container_home">

    <!-- Bouton Retour -->
    <button class="back-button" (click)="goBack()">Retour</button>

    <div class="product-details">
      <h2>{{ products.name }}</h2>
      <div class="product-image">
        <img [src]="products.pictureURL" alt="{{ products.name }}" />
      </div>
      <p class="description">{{ products.description }}</p>
      <p class="price">Prix: {{ products.price }}€</p>
      <p class="ref">Référence: {{ products.ref }}</p>
    </div>
  </div>
</main>
