<main class="main">
    <div class="container_home">
      <section>
        <h1 class="color-template1">À propos de Au Petit Village</h1>
        <p class="color-template3">
          Bienvenue dans l'univers d'Astérix & Obélix, où la passion pour la bande dessinée rencontre l'art de la création artisanale. Chez Au Petit Village, nous sommes fiers de vous offrir une collection unique de figurines inspirées par les aventures époustouflantes de nos célèbres Gaulois.
        </p>
      </section>
  
      <section>
        <h2 class="color-template2">Notre histoire</h2>
        <p class="color-template3">
          Fondée par des passionnés de la bande dessinée, Au Petit Village est née de l'amour pour Astérix & Obélix et de la volonté de créer des pièces uniques qui capturent l'esprit indomptable de ces héros légendaires. Depuis nos débuts modestes, nous avons consacré notre énergie à perfectionner notre métier et à offrir à nos clients des figurines de la plus haute qualité.
        </p>
      </section>
  
      <section>
        <h2 class="color-template2">Notre mission</h2>
        <p class="color-template3">
          Chez Au Petit Village, notre mission est simple : offrir à nos clients une expérience unique et immersive dans l'univers d'Astérix & Obélix à travers nos créations artisanales. Nous nous engageons à maintenir les plus hauts standards de qualité, d'authenticité et de service à la clientèle, tout en cultivant une communauté passionnée de fans de la bande dessinée.
        </p>
      </section>
  
      <section>
        <h2 class="color-template2">Notre équipe</h2>
        <p class="color-template3">
          Notre équipe est composée d'artisans talentueux et de passionnés de la bande dessinée, dévoués à créer des figurines qui captivent l'imagination et ravivent la nostalgie. Chaque membre de notre équipe apporte son expertise unique et sa passion pour Astérix & Obélix, contribuant ainsi à l'authenticité et à la qualité de nos créations.
        </p>
      </section>
  
      <section>
        <h2 class="color-template2">Nos valeurs</h2>
        <p class="color-template3">
          Chez Au Petit Village, nous sommes guidés par des valeurs fondamentales telles que l'excellence, la créativité, l'authenticité et le respect. Nous croyons en la qualité de notre travail, en la force de notre communauté et en la magie intemporelle de l'univers d'Astérix & Obélix.
        </p>
      </section>
  
      <section>
        <h2 class="color-template2">Joignez-vous à nous</h2>
        <p class="color-template3">
          Que vous soyez un collectionneur passionné, un amateur de bande dessinée ou simplement un curieux avide d'aventure, nous vous invitons à découvrir l'univers captivant de Astérix & Obélix chez Au Petit Village. Rejoignez-nous dans cette aventure extraordinaire alors que nous continuons à capturer l'esprit indomptable des Gaulois les plus célèbres de l'Histoire.
        </p>
      </section>
    </div>
  </main>  