<footer>
    <div class="social-icons">
      <a href="https://www.facebook.com/aupetitvillage" target="_blank" rel="noopener" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.twitter.com/aupetitvillage" target="_blank" rel="noopener" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/aupetitvillage" target="_blank" rel="noopener" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
      </div>

      <div>
        <p>© 2024 www.aupetitvillage.fr - Tous droits réservés.</p>
      </div>
    
</footer>
