<header class="navbar">
  <div class="container">
    <div class="container_logo">
      <div class="logo">
        <a [routerLink]="['/']">
          <img
            src="assets/img/Logo_au petit village.jpg"
            alt="Logo au petit village"
          />
        </a>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div class="container_nav">
    <nav class="menu">
      <ul>
        <li><a [routerLink]="['/']">Accueil</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a [routerLink]="['/about']">À propos</a></li>
      </ul>
    </nav>
  </div>
</header>
