<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>

<main class="main">
  <picture>
    <img
      src="assets/img/Logo_au petit village.jpg"
      alt="Logo au petit village"
      height="10px"
    />
  </picture>
  <h1>Au Petit Village</h1>
  <p>
    Bienvenue sur Au Petit Village, l'adresse en ligne incontournable pour tous
    les passionnés de la bande dessinée Astérix et Obélix ! Plongez dans
    l'univers épique des célèbres Gaulois à travers notre collection exclusive
    de figurines minutieusement conçues à l'image de vos personnages préférés.
    Que vous soyez un fan de longue date ou que vous découvriez tout juste les
    aventures de nos héros moustachus, Au Petit Village est là pour raviver
    votre amour pour cet univers intemporel. Nous capturons l'esprit espiègle et
    l'humour irrésistible d'Astérix et Obélix dans chaque détail de nos
    créations. Nos figurines sont soigneusement fabriquées avec un souci du
    détail exquis, garantissant une qualité inégalée et une ressemblance
    frappante avec les personnages originaux. Que ce soit pour enrichir votre
    collection personnelle, offrir un cadeau unique à un proche ou simplement
    égayer votre intérieur avec une touche de nostalgie, Au Petit Village est
    votre destination ultime. Nous nous adressons à une population jeune, âgée
    entre 30 et 55 ans, qui garde une affection particulière pour les aventures
    épiques et les rires sans fin d'Astérix et Obélix. Replongez dans votre
    enfance ou partagez ces merveilleux souvenirs avec vos propres enfants, car
    chez Au Petit Village, chaque figurine raconte une histoire et fait revivre
    l'esprit indomptable des Gaulois les plus célèbres de l'Histoire. Explorez
    notre boutique en ligne dès maintenant et laissez-vous emporter par la magie
    intemporelle de Astérix et Obélix, capturée dans chaque pièce de notre
    collection exclusive. Bienvenue à Au Petit Village, où l'aventure et le rire
    n'ont pas d'âge !
  </p>
</main>

<app-footer></app-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet><router-outlet /> </router-outlet>
